{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block title %}{{ trans(key="blog", lang=lang) }} — {{ config.title }}{% endblock %}

{% block body %}
<div id="content-wrapper">
  <div id="main">

    <div class="section-header">
      <h1>{{ trans(key="blog", lang=lang) }}</h1>
    </div>

    {% if section.pages %}
      {{ macros::post_list(pages=section.pages, lang=lang) }}
    {% else %}
      <p class="no-posts">{{ trans(key="no_posts", lang=lang) }}</p>
    {% endif %}

  </div>
</div>
{% endblock %}
